.about-page{
    display: flex;
        flex-direction: column;
        width: 100vw;
        background-image: url('/public/Assets/About/about-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        align-items: center;
        overflow: hidden;
}

.about-section-wrapper{
    display: flex;
    flex-direction: column;
    width: 95vw;
}

.founder-section{
    display: flex;
    width: 100%;
    margin-top: 35rem;
    margin-left: 5rem;
}

.brand-section{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 145rem;
}

.camera-section{
    display: flex;
    width: 100%;
    margin-top: 110rem;
}

.story-section{
    flex-direction: column;
    display: flex;
    width: 100%;
}

.message-container{
    display: inline-flex;
    padding: 45.714px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.429px;
    width: 602px;
    height: fit-content;
    text-align: left;
}

.message-container h1{
    color: #F5F5F5;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
}

#founder-message{
    background: #587023;

}

#brand-message{
    background: #185277;
}

#story-message{
    background: #812F2C;
    align-self: end;

}

.message-container p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.camera-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    width: 45vw;
    z-index: 999;
}

.camera-button img {
    display: block;
    width: 45vw;
    height: auto;
}

.camera-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.camera-caption{
    width: 500px;
    margin-top: -80px;
    margin-left: 100px;
}

.signoff-message{
    display: inline-flex;
    padding: 22.857px 51.429px 22.857px 34.286px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11.429px;
    width: fit-content;
    background: #6D4F27;
    margin-top: 15rem;
    margin-left: 10rem;
    margin-bottom: 10rem;
}

.signoff-message p{
    color: #F5F5F5;
    font-family: "Oooh Baby";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:0px;
    margin-top: 0px;
}



@media screen and (max-width: 744px) {
    .about-page {
        background-image: url('/public/Assets/About/about-bg-mobile.png');
        background-size: cover; /* You can change this too if needed */
        background-position: center top;
    }

    .message-container h1{
        font-size: 58px;
    }

    .paragraph-message{
        font-size: 20px;
    }

    .signoff-message{
        width: 236px;
        margin-left: 0px;
    }

    .signoff-message p{
        font-size: 32px;
    }

    #founder-message{
    background: #587023;
    margin-top: 710px;
    margin-left: 0px;
    }

    #brand-message{
        background: #185277;
        margin-top: 3200px;
        margin-right: 0px;
    }

    #story-message{
        background: #812F2C;
        align-self: center;
        margin-top: 1100px;
        margin-right: 0px;
    }

    .camera-caption{
        width: 300px;
        margin-top: -20px;
        margin-left: -150px;
    }

    .camera-container{
        margin-top: 2800px;
        margin-left: 200px;
    }
    
    .message-container{
        width: 318px;
    }

    .founder-section{
        flex-direction: column;
        align-items: center;
    }

    .brand-section{
        align-items: center;
    }

    .story-section{
        align-items: center;
    }


}

@media screen and (max-width: 1512px) {
    
}