.media-page{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-text-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-text-container video{
    width: 100%;
    height:100%;
}

.text-box-media{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}

.media-info-container{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 1200px;
    height: 292px;
    gap: 50px;
    margin-top: -120px;
    z-index: 99;
}

.macbook-interact-container {
    position: relative;
    width: 1200px; /* adjust based on your design */
    max-width: 1600px;
    padding-bottom: 100px;
  }
  
.macbook-image {
width: 100%;
display: block;
}

.laptop-screen-frame {
    position: absolute;
    height: 650px;
    cursor: pointer; /* indicates it’s clickable */
    width: 970px;
    align-self: anchor-center;
    justify-self: anchor-center; 
    border-radius: 15px;
}

.click-prompt {
color: black;
text-align: center;
padding-top: 20%; /* center the text within the screen */
}
