.media-page{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-text-container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-text-container video{
    width: 100%;
    height:100%;
}

.text-box-media{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}

.media-arrow-svg{
    width: 20vw;
    margin-bottom: -100px;
    margin-left: -50px;
}

.interact-text-wrapper{
    display: flex;
}

.media-info-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 292px;
    gap: 50px;
    margin-top: -120px;
    z-index: 99;
}

.macbook-interact-container {
    position: relative;
    width: 1200px; /* adjust based on your design */
    max-width: 1600px;
    padding-bottom: 100px;
  }
  
.macbook-image {
    width: 100%;
    display: block;
}

.macbook-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%; /* keep it responsive */
  display: block;
}


.laptop-screen-frame {
  position: absolute;
top: 5.2%;
left: 11.8%;
width: 76.3%;
height: 75%;
  overflow: hidden;
  background: white;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}


.embedded-frame-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}


.click-prompt {
    color: black;
    text-align: center;
    padding-top: 20%; /* center the text within the screen */
}


.video-text-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .media-header-text {
    font-size: clamp(9rem, 30vw, 28rem); /* responsive scaling */
    text-transform: uppercase;
    color: white;
    mix-blend-mode: screen;
    z-index: 2;
  }

  @media screen and (min-width:1880px){
    .media-arrow-svg{
        margin-left: -100px
    }
  }
  
  @media screen and (max-width: 1340px) {
    .macbook-interact-container {
        width: 900px;
    }
  }