.shop-page{
    background-color:rgb(231,230,228);
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.shop-link-div{
    display:flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    gap: 30px;
    min-width: 630px;
}

.shop-link-title{
    color: #8E0000;
    text-align: center;
    font-family: "PT Serif";
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: lowercase;
    margin-top:0px;
    margin-bottom: 0px;
}

.shop-link-button{
    border-radius: 35px;
    background: #030303;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 585px;
    display:flex;
}

.shop-link-button-text{
    color: #F5F5F5;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 0px;
    margin-bottom: 0px;
}


.top-shop-div{
    display:flex;
    flex-direction: column;
    width: 95vw;
    height: fit-content;
    padding-top: 272px;
    margin-bottom: 82px;
}

.big-cutout-picture{
    width: 70vw;
}

.cutout-image-wrapper{
    display: flex;
    justify-content: end;
    margin-top:-150px;
}

.cutout-gallery-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: -200px;
}

.annotation-container{
    display: flex;
}

.horizontal-scroll-section {
    display: flex;
    gap: 53px; /* Space between cards */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px;
    scroll-behavior: smooth;
    width:90vw;
    margin: 0 auto; /* Center horizontally */
}

.horizontal-scroll-section-noscroll{
    display: flex;
    gap:20px;
    justify-content: center;
}

.horizontal-scroll-section::-webkit-scrollbar {
    display: none; /* hides scrollbar */
}

.cutout-item{
    width: 189.903px;
    height: 450px;
    flex-shrink: 0;
    padding-left: 23px;
    padding-right: 22px;
}

.shop-info{
    padding-top: 100px;
    width:85vw;
    display: flex;
    flex-direction: column;
}

.shop-link{
    align-self: end;
    padding-bottom: 30px;
}

.shop-header-div{
    text-align: start;
}

.info-button-div{
    display:flex;
    justify-content: space-between;
}

.shop-info-header-text.smaller-header{
    color: #8E0000;
    font-family: "PT Serif";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.9px;
}

.shop-info-header-text.bigger-header{
    color: #8E0000;
    font-family: "PT Serif";
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 9px;
    margin-top: -60px;
}

.shop-link-button.smaller-button{
    width: 216px;
    border-radius: 35px;
    background: #030303;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 152px;
}

.shop-info-para{
    color: #030303;
    text-align: justify;
    font-family: "Bai Jamjuree";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-indent: 65px;
}

.shop-info-para-bold{
    color: #030303;
    text-align: justify;
    font-family: "Bai Jamjuree";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shop-info-para-italic{
    color: #030303;
    text-align: justify;
    font-family: "Bai Jamjuree";
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.final-sale-cap1{
    color: #030303;
    font-family: "PT Serif";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.final-sale-cap2{
    color: #030303;
    font-family: "PT Serif";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.final-sale-cap3{
    color: #030303;
    font-family: "PT Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sales-final-message{
    text-align: right;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.cloth-pile-image{
    margin-top: -120px;
    width: 100vw;
    height: auto;
    align-self: center;
}